h1 {
    text-align: center;
}

span {
    color: red;
}

.form {
    width: 50%;
    height: 10px;
    width: 30px;
}

.form-item {
    padding: 20px 0;
    width: 60px;
}

.textarea {
    height: 60px;
    width: 40px;
}

.float {
    text-align: right;
}

p {
    text-align: right;
}